<!doctype html>
<html lang="en">
  <head>
    <style>
     
      .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174486674-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174486674-1');
</script>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/custom.css">
                <link rel="stylesheet" href="./stylesheets/fonts.css">
             <link rel="stylesheet" href="./stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./stylesheets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/529ea2b962.js" crossorigin="anonymous"></script>
    <title>Emeraldpark Memorial</title>
   
  </head>
  <body>
        <header> 
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top main_menu">
        <div class="container">
        <!-- Brand -->
        <a class="navbar-brand col-6 col-md-5 col-lg-5" href="/"><img src="./images/logo.png" alt="logo"></a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
            <div class="collapse navbar-collapse col-6 col-lg-7 col-md-7 justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <% if ( typeof(usersession) !='undefined') { %>

                  <li class="nav-item">
                    <a class="nav-link" href="http://emeraldparkmemorial.com.au/profile"> Profile </a>
                    </li>

                  <% } %>
                <li class="nav-item">
                <a class="nav-link" href="http://emeraldparkmemorial.com.au/#home_about">About</a>
                </li>
              
                
                <li class="nav-item">
                <a class="nav-link" href="http://emeraldparkmemorial.com.au/#contact_vv"> Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="http://emeraldparkmemorial.com.au/FAQ.pdf"> FAQ</a>
                  </li>
                <% if ( typeof(usersession) !='undefined' && usersession.substring(0, 5) !='guest') { %>

                  <li class="nav-item">
                    <a class="nav-link" href="http://emeraldparkmemorial.com.au/logout"> Logout </a>
                    </li>

                  <% }else{ %>
                    <li class="nav-item">
                      <a class="nav-link" href="http://emeraldparkmemorial.com.au/login"> Login </a>
                      </li>
                      <li class="nav-item">
                        
                      <a class="nav-link" href="http://emeraldparkmemorial.com.au/signup"><span>| &nbsp;</span> Create your account</a>
                      </li> 
                 <% } %>
               
                </ul>
            </div>
         </div>
      </nav>
    </header>
